
.bg-image {
  background-image: url(./img/farm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
body {
  background-color: #f7fee6;
  font-family: 'Poppins', sans-serif;
 
}
.custom-margin-left {
  margin-left:10px;
}

.custom-ul {

  padding: 10px;
  width:100%;
  background-color:rgb(247, 254, 230)
  

}
.centered-container {
  display: flex;
  justify-content: center;
}
.calendar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}
.h1 {
font-weight: bold;
    text-align: center;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: #383838;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

.h4 {font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  color: #2f472a;
}
.font-li {
  color: #2f472a;
 
}
.sessions {
  background-color: #f7fee6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.session {
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: #eef6dd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;

}
.btn {
  background: rgb(147, 187, 139);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.button {
  margin: 5px;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-success {
  background: rgb(147, 187, 139);
}

.btn-danger {
  background-color: #dc3545;
}
.calendar {
  background-color: #f7fee6;
 
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
}
.about{
    background-color: #eef6dd;;
    width: 50%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1rem;
      border-radius: 5px;
      margin: 5rem auto;
      text-align: center;
}
.select-container {
  background-color: #eef6dd;
  margin-top: 7px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.bookings-title {
  margin-top: 3rem;
}

.custom-table {
  border: 1px solid rgba(72, 145, 116, 0.2);
  width: 50%;
  margin: 2rem auto;
  background-color: #eef6dd;
  font-size: large;
 
}
thead {
  border: 1px solid rgba(72, 145, 116, 0.2);
  background-color: rgb(206, 226, 202);
}
th, td {
   border: 1px solid rgba(72, 145, 116, 0.2);
   padding: 0.5rem 1rem
}
.loading {
text-align: center;
}
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: rgb(247, 254, 230);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: 18px;
  margin: auto;
  color: rgba(37, 55, 33, 0.868);
 
}
.footer {

  background-color: rgb(60, 65, 68);
  color:rgb(151, 156, 161);
  font-size: small;
  text-align: center;
  font-style: italic;
  padding: 1rem;
  margin-top: 5rem;
  
}
.h5 {
  text-align: center;
  font-weight: bolder;
}
.about-paragraph {
  color:rgba(37, 55, 33, 0.868);
  margin-bottom: 2rem;
}
.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  
}
.react-calendar__month-view__days__day {
  color:rgba(47, 71, 42, 0.868);
  
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: rgba(47, 71, 42, 0.868);
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}


.react-calendar__tile {
  max-width: 100%;
  padding: 16px 12px;
  margin: 4px;
  background: none;
  text-align: center;
  line-height: 16px;
  border: 1px solid white;
}


.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e9f6d1;
}

.react-calendar__tile--now {
  background: #e9f6d1;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background:rgb(147, 187, 139);
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgba(96, 142, 85, 0.868);
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
