.bg-image {
  background-image: url(./img/farm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
body {
  background-color:white
}
.custom-margin-left {
  margin-left:10px;
}
.custom-ul {
  border: 1px solid #ccc;
  /* Add the desired border properties */
  padding: 10px;
  /* Add the desired padding value */
  width:50%;
  background-color:rgb(247, 254, 230)

}
.centered-container {
  display: flex;
  justify-content: center;
}
.h1 {
  text-align:center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: white;
  text-shadow: 1px 1px black;
}
.h4{
  text-align: center;
  margin-bottom: 2rem;
  
}

.sessions {
  text-align: center;
  list-style-position: inside;
}
.session {
  margin: 10px;
  text-align: center;
}
.button {
  margin: 5px;
}